:lang(en) {
    font-family: "SFProText", SFProText, 'Apple SD Gothic Neo', AppleSDGothicNeo, 'Malgun Gothic', '맑은 고딕', sans-serif;
}

/* 메인 공통 */
.section_goods{
    border-top: 0
} /*20181121*/

#mArticle {
    padding-bottom: 0;
}

/* footer */
#kakaoFoot {
    background-color: #2e2e2e;
}
.inner_footer .txt_copy {
    color: rgba(255, 255, 255, 0.7);
}
.inner_footer .link_mailto {
    color: rgba(255, 255, 255, 0.7);
}
.inner_footer .link_service {
    color: rgba(255, 255, 255, 0.7);
}
.inner_footer .txt_corp {
    color: rgba(255, 255, 255, 0.7);
}
.inner_footer .link_service2:before {
    display: none;
}


/* 공통 상품 리스트 */
.tit_main a {color: #000}
.section_goods .link_more {
    display: block;
    width: 20%;
    height: 50px;
    margin: 10px auto 60px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
} /*20181120*/

.section_goods .link_more .ico_more_product {
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("http://t1.kakaocdn.net/friends/new_store/ico_more_product.png") no-repeat center;
    background-size: 6px auto;
}
.cont_main .section_goods {padding-bottom: 0;}
.list_goods_full .link_cart,
.list_goods .link_cart {
    display: block;
    width: 15px;
    height: 20px;
    background: url("http://t1.kakaocdn.net/friends/new_store/ico_cart.png") no-repeat center;
    background-size: 15px auto;
}
.list_goods_full .link_cart.on,
.list_goods .link_cart.on {
    width: 15px;
    height: 20px;
    background: url("http://t1.kakaocdn.net/friends/new_store/ico_cart_fill.png") no-repeat center;
    background-size: 15px auto;
}
.list_goods .item_state {
    overflow: visible;
    margin-bottom: 0;
}
.list_goods li:nth-child(odd) .item_state,
.list_goods li:nth-child(even) .item_state {
    padding-top: 11px;
    padding-bottom: 10px;
}
.txt_price span {
    font-family: "SFProText", SFProText;
    font-size: 16px;
    letter-spacing: -0.2px;
}

.txt_price .prev_price {
    font-size: 15px;
    color: #999;
    font-weight: normal;
}

.txt_price .currency {
    font-family: "SFProText", SFProText;
    font-size: 15px;
    letter-spacing: -0.2px;
}
.list_goods .txt_price {
    font-weight: bold;
    margin-bottom: 0;
}


/*뉴스*/
.link_news {
    margin-top: 20px;
}
.link_news .ico_news {
    margin-top: 2px;
}


/*카테고리 리스트*/
.section_nav {
    display: none;
}
.section_nav .tit_main {
    height: 70px;
    padding-top: 100px;
    background: url("http://t1.kakaocdn.net/friends/new_store/img_emoticon_181121.png") no-repeat 90% 0;
    background-size: auto 250px;
}
.section_nav .list_category {
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5
}
.section_nav .list_category li {
    width: calc(50% - 1px);
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.section_nav .list_category li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
}

.section_nav .list_category li a .niniz {
    margin-top: 19px;
    display: inline-block;
    width: 41px;
    height: 11px;
    background-position: -125px -65px;

}

/*소셜 네트워크 공유 리스트*/
.section_kakaotalk{
    display: none;
    position: relative;
    padding: 50px 0 87px;
    text-align: center;
}
.section_kakaotalk strong {
    font-size: 22px;
    line-height: 1.2
}
.section_kakaotalk p {
    margin: 10px 0 30px;
    font-size: 13px;
    color: rgb(111, 111, 111)
}
.section_kakaotalk .btn_kakaotalk {
    width: 270px;
    height: 60px;
    padding-left: 40px;
    background: url("http://t1.kakaocdn.net/friends/new_store/ico_kakaotalk.png") no-repeat 20px center #FFDD29;
    background-size: 40px auto;
    border-radius: 54px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #381e1f
}
.section_kakaotalk .friends {
    position: absolute;
    bottom: 25px;
    right: 50px;
    width: 85px;
    height: 84px;
    background: url("http://t1.kakaocdn.net/friends/new_store/bg_talk.png") no-repeat;
    background-size: 100% auto;
}

/*배너 리스트*/
.section_bnr .tit_main {
    padding: 0 10px;
}
.list_bnr .link_bnr {
    position: relative;
}
.list_bnr li .title {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    -webkit-text-stroke: 1px rgba(0,0,0,.1);
    text-stroke: 1px rgba(0,0,0,.1);
}

.link_theme {
    display: block;
    position: relative;
    padding: 10px 0 0;
    color: #fff;
}
.link_theme .frame_thumb {
    width: 100%;
    height: 280px;
}
.link_theme .tit_main {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 40px;
}
.link_theme .txt_info {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 16px;
}
.section_bnr .tit_main {
    display: none;
}

.section_notice {
    margin-bottom: 10px;
}


/*메인 탭메뉴*/
.header_sub_tab {
    display: none;
    justify-content: center;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid rgb(237, 237, 237)
}

.header_sub_tab li {
    position: relative;
    width: 25%;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    font-size: 16px;

}

.header_sub_tab li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}

.header_sub_tab li hr{
    display: none;
}
.header_sub_tab li.on hr {
    display: block;
    height: 3px;
    width: 74px;
    margin-top: -2px;
    text-align: center;
    border: 0;
    border-top: 3px solid #303030;
}
.header_sub_tab li.on {
    font-weight: bold;
}

.header_sub_tab .new_badge {
    position: absolute;
    top: 5px;
    left: 70%;
    display: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 97, 40);
    text-indent: -999em;
    font-size: 1px;
}

/*신규 탭*/
.section_new {
    position: relative;
}
.section_new .tit_main {
    padding-top: 25px;
    padding-bottom: 16px;
}
.section_new .tit_main p {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(127, 127, 127);
}
/*인기 탭*/
.section_best .tit_main {
    padding: 32px 20px 16px;
    margin: 0;
    border-top: 10px solid rgb(247, 247, 247)
}
.section_best .tit_main a > p {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(127, 127, 127);
}
.section_best .tit_main strong span {font-family: "SFProText", SFProText;}
.section_best .list_goods_full {
    padding-top: 20px;
    border-bottom: 1px solid rgb(229, 229, 229);
}
.section_best .list_goods_full li {
    position: relative;
    margin: 0 20px 20px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.section_best .list_goods_full li:last-child {margin-bottom: 32px}
.section_best .list_goods_full .frame_thumb {
    position: relative;
    width: calc(100vw - 40px);
    height: 105vw;
}
.section_best .list_goods_full .frame_thumb img {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
}
.section_best .list_goods_full .frame_thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.36) );
}
.section_best .best_info {
    position: absolute;
    bottom: 22px;
    left: 20px;
}
.section_best .label_tag {
    display: block;
    width: 52px;
    height: 20px;
    margin-bottom: 15px;
    line-height: 21px;
    background: rgb(255, 97, 40);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: "SFProText", SFProText;
}
.section_best .list_goods_full strong {
    margin-bottom: 7px;
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.section_best .list_goods_full p {
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.section_best .list_goods .label_tag {
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 21px;
    height: 21px;
    font-family: "SFProText", SFProText;
}
.section_best .list_goods li:nth-child(100) .label_tag {
    width: 30px
}

/*세일 탭*/
.section_sale {padding-top: 20px;}
.section_sale .list_goods_full {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(229, 229, 229);
}
.section_sale .list_goods_full li {
    position: relative;
    overflow: hidden;
    width: calc(100% - 40px);
    margin: 0 auto 18px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.section_sale .list_goods_full .frame_thumb {
    display: flex;
    align-items: center;
    width: calc(100vw - 40px);
    height: calc(100vw - 40px);
}
.section_sale .list_goods_full .frame_thumb img {
    width: auto;
    height: 100%;
}
.section_sale .list_goods_full .label_sale {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15vw;
    height: 15vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgb(254, 76, 76);
    text-align: center;
    line-height: 15vw;
    font-size: 4vw;
    font-weight: bold;
    font-family: "SFProText", SFProText;
    color: #fff;
}
.section_sale .list_goods_full a {
    color: #000;
}
.section_sale .list_goods_full .link_cart {
    width: 41px;
    height: 28px;
    line-height: 30px;
    padding-left: 37px;
    color: rgb(85, 85, 85);
    background-color: #fff;
    background-position: 15px center;
    background-size: 12px auto;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.section_sale .list_goods_full .sale_info {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
}
.section_sale .list_goods_full strong {
    width: 195px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    display: block;
    margin-bottom: -5px;
    font-size: 16px;
    font-weight: normal;
}
.section_sale .list_goods_full .txt_price {
    float: left;
    color: rgb(255, 60, 70);
    font-size: 22px;
    font-family: "SFProText", SFProText;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.section_sale .list_goods_full .prev_price {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    color: #999;
    font-size: 15px;
    font-family: "SFProText", SFProText;
    font-weight: 400;
    letter-spacing: -0.3px;
}
.section_sale .list_goods_full .frame_thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03)
}
.section_sale .tit_main {
    margin: 0 0 20px;
    padding: 32px 20px 16px;
    border-top: 10px solid rgb(247, 247, 247);
}
.section_sale .tit_main a > p {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(127, 127, 127);
}
.section_sale .list_goods_full .item_state {
    position: absolute;
    right: 0;
    bottom: 6px;
    margin-bottom: 0;
}

.list_goods .label_out,
.list_goods .label_sale {
    z-index: 1;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 40px;
    height: 40px;
    padding-top: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgb(254, 76, 76);
    text-align: center;
    line-height: 39px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family: "SFProText", SFProText;
}
.list_goods .label_out {background: rgba(0, 0, 0, .5);}

.brand_list .list_brand li {height: 434px;} /*20181218 추가 alice*/

.goto_top {
    /*display: block;*/
    background: url("https://t1.kakaocdn.net/friends/kfo-common/mo/m640/ico_top.png") rgba(255, 255, 255, 0.9) no-repeat center center;
    background-size: 17px auto;
    text-indent: -9999em;
    font-size: 1px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}

/*공통 셀렉트박스*/
.select_box {
    position: relative;
    width: calc(100% - 2px);
    height: 45px;
    background: url(http://t1.kakaocdn.net/friends/new_store/ico_dropdown.png) right 10px center
    no-repeat; /* 화살표 이미지 */
    background-size: 18px auto;
    border: 1px solid #e3e5e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.select_box label {
    position: absolute;
    display: block;
    height: 100%;
    line-height: 35px;
    padding-left: 12px;
    font-size: 16px;
}
.select_box select {
    width: 100%;
    height: 35px;
    line-height: 100%;
    padding: 0 10px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 8 */
}

/* mobile */
@media all and (max-width:768px) {
    .list_goods .label_out,
    .list_goods .label_sale  {
        width: 36px;
        height: 36px;
        padding-top: 0;
        line-height: 36px;
        font-size: 12px;
        font-weight: bold;
    }
    :lang(en) .section_sale .list_goods .label_out {
        height: 28px;
        padding-top: 8px;
        line-height: 11px;
        font-size: 11px;
    }

    /* 공통 */
    .inner_footer {padding: 0 20px 20px}
    .inner_footer .txt_corp {padding-top: 70px}
    .inner_footer .info_service {padding: 28px 0 20px}
    #mArticle {padding-bottom: 0}


    /*메인 상단 슬라이드*/
    .cont_main .intro_main {margin-bottom: 50px}
    .cont_main .section_bnr {padding-bottom: 60px}

    /* 추천 테마 */
    .section_goods .link_theme{
        padding: 0 20px
    } /*20181120*/

    /* 배너 리스트 */
    .section_bnr .tit_main {
        padding: 0 0 0 20px;
        display: block;
    }
    .link_more{
        color: #303030;
    }
    .link_main {
        color: #303030;
    }
    .list_bnr li{
        float:inherit;
        width:calc(100% - 40px);
        margin:16px 20px 0;
        padding:0;
        border-radius:7px;
        overflow:hidden;
        position: relative;
    } /*20181120*/

    .list_goods li:nth-child(odd) .label_tag {
        margin-left: 20px
    }
    .list_goods li:nth-child(even) .label_tag {
        margin-left: 6.5px
    }
    .list_goods .frame_thumb:after {
        border-radius: 7px;
    }
    .link_theme .frame_thumb {
        height: auto;
        background: none;
    }
    .link_theme .tit_main{
        position: static;
        padding-left: 0;
        color: #000;
        line-height: 31px;
        font-size: 24px;
    }
    .link_theme .txt_info {
        position: static;
        padding: 13px 15px 0 0;
        color: #000;
        line-height: 21px;
        font-size: 16px;
    }

    .section_goods .tit_main{
        line-height: 31px;
    }

    .section_goods .link_more {
        width: calc(100% - 40px);
        font-size:16px;
    }

    .list_bnr li .title {
        bottom: 10px;
        left: 15px;
        font-size: 5.3vw;
    }


    /* 소셜네트워크 공유 리스트 */
    .section_notice {
        padding: 10px 0 0;
        background-color: #f5f5f5;
        margin-bottom: 0;
    }
    .section_kakaotalk {display: block;}
    .section_kakaotalk .btn_kakaotalk {
        width: 180px;
        height: 54px;
        background-size: 33px auto;
    }

    /* 뉴스 */
    .link_news {
        display: flex;
        height: 52px;
        padding: 0 20px;
        margin-top: 0;
        line-height: 52px;
        font-size: 14px;
        background-color: #fff
    }

    .link_news em {width: 30px}
    .link_news.en em {width: 50px;}
    .link_news.en .txt_news {width: calc(100% - 45px)}
    .link_news .txt_news {
        width: calc(100% - 30px);
        max-width: none;
        font-size: 14px;
        line-height: 52px;
        color: #6f6f6f;
    }
    .link_news .ico_more_notice {
        display: block;
        float: right;
        width: 6px;
        height: 100%;
        background: url("http://t1.kakaocdn.net/friends/new_store/ico_more_notice.png") no-repeat center;
        background-size: 6px auto;
    }
    .link_news .ico_news {display: none}

    /*카테고리 리스트*/
    .section_nav {
        display: block;
        padding-top: 20px;
    }
    .section_nav .tit_main {
        height: 50px;
        padding-top: 10px;
        background-size: auto 75px;
    }
    .section_nav .list_category {
        display: flex;
        flex-wrap: wrap;
        border-right: 0;
    }
    .section_nav .list_category li {
        width: calc(50% - 1px);
        border-bottom: 1px solid #e5e5e5;
    }
    .section_nav .list_category li:nth-child(2n) {
        border-right: 0;
    }
    .section_nav .list_category li a {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        text-align: center;
        color: #303030;
    }


    /*메인 탭메뉴*/
    #kakaoContent.cont_main {margin-top: 96px;}
    .header_sub_tab {
        display: flex;
        width: auto;
        padding: 0 5px;
    }

    .section_goods .list_goods {padding-top: 16px;}

    .brand_list .list_brand {margin-bottom: 10px;}
    .brand_list .list_brand li {height: auto;} /*20181218 추가 alice*/

    .search_on .dimmed_layer {
        display: none;
    }
    .search_on .inner_head  .dimmed_layer {
        z-index: 199;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    .search_on .wrap_util {z-index: 200}

    /*슬라이드*/
    .slide_main .frame_thumb .thumb_g {
        width: 100vw;
        height: 100vw;
    }

    .list_goods .tit_item {
        line-height: normal;
    }
}

/*이미지 사이즈 조정*/
@media all and (max-width: 400px) {
    .list_goods .thumb_g {
        width: auto;
        height: 100%;
    }
    .txt_price span {font-size: 4.1vw}
    .txt_price .prev_price {font-size: 3.9vw;}
    .list_goods .tit_item {
        font-size: 4.1vw;
    }
}